[submodule "contracts/arror-v1/factory-v1/lib/forge-std"]
	path = contracts/arror-v1/factory-v1/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/arror-v1/core-v1/lib/forge-std"]
	path = contracts/arror-v1/core-v1/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/Dyson-Finance-V1"]
    path = contracts/Dyson-Finance-V1
    url = https://github.com/DysonFinance/Dyson-Finance-V1
